*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.header{
    font-size: 25px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2f2f;
}

.header ul {
    margin: 5px;
}

.header ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
.header ul li a{
    color: white;
    position: relative;
    padding: 5px 0;
    text-decoration: none;
}
.header ul li a:hover{
    color: #d4af37;
}
.header ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #d4af37;
    transition: .3s;
    bottom: 0;
}
.header ul li a:hover:after{
    width: 100%;
}
.content{
    position: relative;
    font-style: italic;
    height: 400px;
    width: 100%;
    text-shadow:3px 3px 10px #d4af37 ;
    border-radius: 10px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border-bottom: 50px;
}
.para{
    padding-top: 50px;
}
.content h1{
    color: #000000;
    font-size:65px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
    font-family:'Tangerine', serif ;
    text-align: center;
}
.content p{
    color: #191919;
    font-family:'Tangerine', serif ;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 55px;
    margin-right: 50px;
    text-align: center;
}
.dp{
    float: right;
    width: 350px;
    height: 350px;
    position: relative;
    margin-top: 25px;
    margin-right: 50px;
    border-color: #d4af37;
    border-style: solid;
    box-shadow :3px 3px 10px #1f1f25;
}
.dp :hover{
    transition: 0.5s ease-in-out;
}
.tableDetail{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin-left: 20px;
}
table{
    width: 100%;
    border: 5px solid #d4af37;
    margin-top: 10px;
    padding-top:30px;
    padding-bottom: 30px;
    position: relative;
    font-size: 20px;
    font-weight: lighter; 
    min-width: fit-content;
}
td{
    text-align:left;
    padding:7px 7px 7px 150px;
    position: relative;
}
.address{
    font-style: italic;
    font-family:'Tangerine', serif ;
}
.imageDetail{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin-left: 20px;
}
.column {
    float: left;
    padding: 5px;
  }
  

  .column img {
    cursor: pointer;
    opacity: 0.9;
    width: 600px;
  }
  
  .column img:hover {
    opacity: 1;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .container {
    display: none;
  }
  

  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  

  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  .modal{
    position: fixed;
    width: 80vw;
    left: 10vw;
    height: 80vh;
    top: 10vh;
}
  .kgf{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin-left: 20px;
}
footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 3px;
    background-color: #2f2f2f;
    color: white;
    bottom: 0;
    width: 100%;
}

.test{
    color: white;
}
